
<h1>  Edit page </h1>

<% if @article.errors.any? %>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>

  <% end %>
<% end %>
</ul>
<contrainer display='inline'>
  <div>
    <%= form_for @article do |f|%>
      <p>
        <%= f.label 'tytuł' %> </br>
        <%= f.text_field :title %>
      </p>  
      <p>
        <%= f.label :description %> </br>
        <%= f.text_area :description %>
      </p>
      <p>
        <%= f.submit 'edytuj' %>
      </p>    

    <% end %>
  </div>
  <div>
    <h3> card1 </h3>
  </div>
  <%= link_to 'home',root_path %>
  <%= image_tag '1.jpeg' %>
  <%= link_to image_tag('1.jpeg'), 'www.mashrurhossain.com' %>

  <%= link_to 'back to articles listing', articles_path %>

</contrainer>