<!DOCTYPE html>
<html>
<header>
  <h1>Create an article</h1>
</header>
<body>

<%= link_to "Create new article ", new_article_path%>




<contrainer display='inline'>
  <div>

    <table>

      <tr>
        <th>title</th>
        <th>description</th>
      </tr>

      <% @articles.each do |article| %>
        <tr>

            <td> <%= article.title %> </td>
            <td> <%= article.description %> </td>
            <td> <%= link_to 'edit', edit_article_path(article) %> </td>
            <td> <%= link_to 'show', article_path(article) %> </td>
            <td> <%= link_to 'remove', article_path(article), method: :delete, data:{confirm: "Are you sure ?"} %> </td>


        </tr>

      <% end %>


    </table>

  </div>
  <div>
    <h3> card1 </h3>
  </div>
  <%= link_to 'home',root_path %>
  <%= image_tag '1.jpeg' %>
  <%= link_to image_tag('1.jpeg'), 'www.mashrurhossain.com' %>
</contrainer>

</body>
</html>
